<div id="topcontent_wrap">
	
    <div id="topcontent">
    
    <!--  Slider Wrap (The main panel for the slider ;)) -->
    <div class="slider-wrap">
    
        <!-- Slider 1 -->
        <div id="slider1" class="csw">
        
            <!-- Begin: Panel Container -->
            <div class="panelContainer">
    
                <!-- Panel 1 (This is the content slide wrapper.) -->
                <div class="panel" title="Panel 1" id="first">
                
                    <div class="wrapper">
                    
                        <!-- iPhone -->
                        <div id="iphone">
                        
                            <div id="smallphone">
                            
                                <div class="smallphoneimg"><img SRC="images/smallphoneimg1.png" alt="phoneimg" /></div>
                                
                            </div>
                            
                            <div id="bigphone">
                            
                                <div class="bigphoneimg"><img SRC="images/bigphoneimg1.png" alt="phoneimg" /></div>
                                
                            </div>
                        </div>
                        <!-- iPhone -->
                        
                        <!-- Info -->
                        <div id="info">
                        
                            <h1>featured apps</h1>
                            <h2>magnifico</h2>
                            
                            <p class="description_p">Panel 1 magna metus, at laoreet leo. Donec mattis mollis dignissim. Vivamus sodaes mattis metus, vel auctor eget. Nam ac enim est, semper fermentum orci. Aliquam erat lectus lulla semper anec.</p>
                            
                            <!-- Screenshots and Features -->
                            <div class="screenshotsfeatures">
                            
                                <!-- Screenshots -->
                                <div class="screenshots">
                                
                                    <ul>
                                        <li><a href="#"><img SRC="images/screenshot1.jpg" alt="screenshot" /></a></li>
                                        <li><a href="#"><img SRC="images/screenshot2.jpg" alt="screenshot" /></a></li>
                                        <li><a href="#"><img SRC="images/screenshot3.jpg" alt="screenshot" /></a></li>
                                        <li><a href="#"><img SRC="images/screenshot4.jpg" alt="screenshot" /></a></li>
                                        <li><a href="#"><img SRC="images/screenshot5.jpg" alt="screenshot" /></a></li>
                                        <li><a href="#"><img SRC="images/screenshot6.jpg" alt="screenshot" /></a></li>
                                    </ul>
                                    
                                </div>
                                <!-- End Screenshots -->
                                
                                <!-- Features -->
                                <div class="features">
                                
                                    <h3>features</h3>
                                    
                                    <div class="list">
                                    
                                        <ul>
                                            <li>Donec vitae augue semper </li>
                                            <li>Nam ac enim est lectus lulla </li>
                                            <li>Aliquam erat volutpat rhon  </li>
                                        </ul>
                                        
                                    </div> 
                                    
                                </div>
                                <!-- End Features -->
                                
                            </div>
                            <!-- Screenshots and Features -->
                            
                            <!-- Button Nav -->
                            <div class="buttonnav">
                            
                                    <div class="button"><a class="learnmore" href="#">learn more</a></div>
                                    
                            </div>
                            <!-- End utton Nav -->
                        
                        </div>
                        <!-- End Info -->
                        
                        </div>
                        <!-- End Wrapper -->
                        
                    </div>
                    <!-- End Panel 1 -->
                    
                <!-- Panel 2 (This is the content slide wrapper.) -->
                <div class="panel" title="Panel 2">
                
                    <!-- Wrapper -->
                    <div class="wrapper">
                    
                        <!-- iPhone -->
                        <div id="computer">
                            
                            <img SRC="images/computerimg.jpg" alt="computerimg" /> 
                            
                        </div>
                        <!-- iPhone -->
                        
                            <!-- Info -->
                            <div id="infoleft">
                            
                                <h1>featured design</h1>
                                <h2>magnifico</h2>
                                
                                <p class="description_p">Panel 2 metus, at laoreet leo. Donec mattis mollis dignissim. Vivamus sodaes mattis metus, vel auctor eget. Nam ac enim est, semper fermentum orci. Aliquam erat lectus lulla semper anec.</p>
                                
                                <!-- Screenshots and Features -->
                                <div class="screenshotsfeatures">
                                
                                    <!-- Screenshots -->
                                    <div class="screenshots">
                                    
                                        <ul>
                                            <li><a href="#"><img SRC="images/screenshot1.jpg" alt="screenshot" /></a></li>
                                            <li><a href="#"><img SRC="images/screenshot2.jpg" alt="screenshot" /></a></li>
                                            <li><a href="#"><img SRC="images/screenshot3.jpg" alt="screenshot" /></a></li>
                                            <li><a href="#"><img SRC="images/screenshot4.jpg" alt="screenshot" /></a></li>
                                            <li><a href="#"><img SRC="images/screenshot5.jpg" alt="screenshot" /></a></li>
                                            <li><a href="#"><img SRC="images/screenshot6.jpg" alt="screenshot" /></a></li>
                                        </ul>
                                        
                                    </div>
                                    <!-- End Screenshots -->
                                    
                                    <!-- Features -->
                                    <div class="features">
                                    
                                        <h3>features</h3>
                                        
                                        <div class="list">
                                        
                                            <ul>
                                                <li>Donec vitae augue semper </li>
                                                <li>Nam ac enim est lectus lulla </li>
                                                <li>Aliquam erat volutpat rhon  </li>
                                            </ul>
                                            
                                        </div> 
                                        
                                    </div>
                                    <!-- End Features -->
                                    
                                </div>
                                <!-- Screenshots and Features -->
                                
                                <!-- Button Nav -->
                                <div class="buttonnav">
                                
                                        <div class="button"><a class="learnmore" href="#">learn more</a></div>
                                
                                </div>
                                <!-- End Button Nav -->
                            
                            </div>
                            <!-- End Info -->
                        
                        </div>
                        <!-- End Wrapper -->
                        
                    </div>
                    <!-- End Panel 2 -->
                    
                    <!-- Panel 3 -->
                    <div class="panel" title="Panel 3">
                    
                        <!-- Wrapper -->
                        <div class="wrapper">
                        
                            <!-- Video -->
                            <div class="video">
                            
                            <object    
                                width='600'
                                height='300'
                                data='http://vimeo.com/moogaloop.swf?clip_id=6358436&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1'
                                type='application/x-shockwave-flash'>

                                <param name='allowfullscreen' value='true' />
                                <param name='allowscriptaccess' value='always' />
                                <param name='wmode' value='opaque'>
                                <param name='movie' VALUE="../../../../vimeo.com/moogaloop.swf@clip_id=6358436&server=vimeo.com&show_title=1&show_byline=1&show_portrait=0&color=00ADEF&fullscreen=1" />
                            </object>

                            </div>
                            <!-- End Video -->
                            
                            <!-- Info -->
                            <div id="infoleftsmall">
                            
                                <h1>featured video</h1>
                                <h2>magnifico</h2>
                                
                                <p class="description_p">Panel 2 metus, at laoreet leo. Donec mattis mollis dignissim. Vivamus sodaes mattis metus, vel auctor eget. Nam ac enim est, semper fermentum orci. Aliquam erat lectus lulla semper anec. Praesent sed tortor purus, et gravida orci. Nulla laoreet lacus eget mauris tincidunt vehicula. Quisque mollis tempus ipsum, eu convallis dolor cursus sed. Aenean eu nibh in sem venenatis mollis in ut velit. Donec mi sem, porta quis posuere et, pharetra commodo tortor.</p>

                            </div>
                            <!-- End Info -->
                                
                        </div>
                        <!-- End Wrapper -->
                        
                    </div>
                    <!-- End Panel 3 -->
                
                </div>
                <!-- End: Panel Container -->
                
            </div>
            <!-- End Slider -->
            
        </div>
        <!-- End: Slider Wrap -->
        
    </div>
    <!-- End: Top Content -->

</div>