<div id="top_bar">

	<!-- Nav container -->
	<div id="nav_container">
	
	<!-- Logo -->
	<div id="logo"><img SRC="images/logo.png" alt="logo" /></div>
	<!-- End Logo -->
		
	<!-- Nav -->
	<ul id="nav">
	
		<li><a class="on" href="#">home</a></li>
		<li><a HREF="about.html">about</a>
		<ul>
			<li><a HREF="about.html">company</a></li>
			<li><a HREF="about.html">team member</a>
			<ul>
				<li><a HREF="about.html">member one</a></li>
				<li><a HREF="about.html">member two</a></li>
				<li><a HREF="about.html">member three</a></li>
				<li><a HREF="about.html">member four</a></li>
			</ul>
			</li>
		</ul>
		</li>
		<li><a HREF="portfolio.html">portfolio</a>
		<ul>
			<li><a HREF="portfolio.html">design</a>
			<ul>
				<li><a HREF="portfolio.html">website</a></li>
				<li><a HREF="portfolio.html">identity</a></li>
			</ul>
			</li>
			<li><a HREF="portfolio.html">illustrations</a></li>
			<li><a HREF="portfolio.html">photography</a></li>
		</ul>
		</li>
		<li><a HREF="blog.html">blog</a>
		<ul>
			<li><a HREF="blog.html">category one</a></li>
			<li><a HREF="blog.html">category two</a></li>
		</ul>
		</li>
		<li><a HREF="contact.html">contact</a></li>
		<li class="last"><a class="subscribe" href="#">subscribe</a></li>
		
	</ul>
	<!-- End Nav -->

	</div>
	<!-- End Nav container -->

</div>